@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');



body{
    background-color: #EAEAEA;
    font-family: "Italiana", sans-serif;
    margin: 0;
    padding: 0;
}
header {
    
    background-color: #4DD1CE;
}
header h1 {
    text-align: center;
}
header img {
    display: flex;
    justify-content: flex-start;
    width: 100px;
}
header nav {
    display: flex;
    justify-content: center;
    font-size: 20px;
}
header nav a {
    margin: 25px;
}


footer{
    background-color: #4DD1CE;
    text-align: center;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0.5;
}



main section{
    margin: 100px 50px 150px 50px;
    padding-bottom: 20px;
}

main section h1{
    font-size: 33px;

}
main section p{
    font-size: 20px;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.seccion2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.tarjetas{
    box-shadow: 2px 2px 2px rgb(110, 110, 110);
    border: black 1px solid;
    margin: 60px;
    margin-bottom: 100px;
    height: 300px;
    width: 300px;
    background-color: white;
    overflow: hidden;
}

.tarjetas img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.tarjetas button{
    margin-left: 10px;
    background-color: #4DD1CE;
}

.tarjetas button:hover{
    background-color: #368a88;
}

.tarjetas button a{
    text-decoration: none;
    color: black;
}

.aboutUs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tarjetas2{
    margin: 60px;
    height: 400px;
    width: 400px;
    overflow: hidden;
}

.tarjetas2 img{
    object-fit: cover;
}


@media(width <=600px){
    header nav {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 20px;
    }
    
    .tarjetas2{
    flex-direction: column;
    }

    
    
}
